.boton {
    width: 300px;
    height: 100px;
}
.boton::before {
    content: "Pasa por encima";
    font-size: medium;
    
    
}
.boton:hover {
    background-color: green;
    color: white;
    
}
.boton:hover::before {
    content: "¡Hecho!";
}







